@model User
<!-- Insert Model Here -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info rounded">
    <h6 class="navbar-brand">Wedding Planner</h6>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            @if(ViewBag.LoggedIn == null)
            {
                <a class="nav-item nav-link active" asp-controller="Users" asp-action="Index">Login</a>
                <a class="nav-item nav-link active" asp-controller="Users" asp-action="New">Register</a>
            }
            else
            {
                <a class="nav-item nav-link active" asp-controller="Weddings" asp-action="Index">Dashboard</a>
                <a class="nav-item nav-link active" asp-controller="Users" asp-action="Logout">Log Out</a>
            }
        </div>
    </div>
</nav>
<div class="row justify-content-center">
    <div class="col-lg-10 rounded justify-content-center m-4 bg-white">
        <div class="row justify-content-center m-3">
            <h1>Please login below!</h1>
        </div>
        <form asp-action="Login" asp-controller="Users" method="POST">
            <div class="form-row justify-content-center m-3">
                <div class="col-md-3 m-3 text-left">
                    <label asp-for="Email"><h5>Email</h5></label>
                    <input type="email" class="w-100" asp-for="Email">
                    <p><span asp-validation-for="Email" class="text-danger"></span></p>
                    <label asp-for="Password"><h5 class="mt-2">Password</h5></label>
                    <input type="password" class="w-100" asp-for="Password">
                    <p><span asp-validation-for="Password" class="text-danger"></span></p>
                </div>
            </div>
            <div class="form-row justify-content-center m-3">
                <button type="submit" class="btn btn-primary my-2 mr-3">Login</button>
                <a asp-action="New" asp-controller="Users" class="btn btn-success my-2 ml-3">Register</a>
            </div>
        </form>
    </div>
</div>